html, body {
  height: 100%;
  margin: 0;
  background-color: green;
  font-family: 'RobotoDraft';
  transition: background .5s;
}

.lighting {
  margin-bottom: 70px;
  font-size: 20px;
}

.orange {
  background: orange;
}

paper-toggle-button {
  margin-bottom: 60px;
}

core-animated-pages {
  width: 100%;
  height: 20px;
}
